<div class="cabecera">
    <div class="nombre_usuario">
        <input type="text" id="usuario" class="usuario" value="Jose Ignacio Del Valle Bustillo">
    </div>
    <button mat-mini-fab class="icono_usuario" color="default">
        <mat-icon>person</mat-icon>
    </button>
  </div>
  
  <div class="espacio"></div>
  
  <input  id="asignatura" class="asignatura" type="text" value="Interfaces de Usuario">
  
  <div class="linea"></div>

<div class="circulo">
    <div class="contenido">
        <img src="assets/images/folder.png" alt="carpetas de colores">
        <span class="titulo">No Hay Evidencias</span>
        <span class="subtitulo">Pulse el boton<strong> + </strong> para </span>
        <span class="subtitulo"> agregar nuevas evidencias </span>
    </div>
</div>

<div class="aniadir">
    <button mat-fab color="primary" routerLink="/nueva_evidencia">
        <mat-icon>add</mat-icon>
    </button>
</div>

<app-menu-navegacion></app-menu-navegacion>
