<mat-toolbar class="menu_navegacion">
    <div class="opciones_iconos" [routerLink]="['/evidencias_coordinacion', usuario]" routerLinkActive="activado" matRipple centered="True">
        <button mat-icon-button disabled>
            <mat-icon class="iconos_nav">assignment</mat-icon>
        </button>
        <span class="texto_icono">Evidencias</span>
    </div>

    <div class="opciones_iconos" [routerLink]="['/estadisticas', usuario]" routerLinkActive="activado" matRipple centered="True">
        <button mat-icon-button>
            <mat-icon class="iconos_nav">assessment</mat-icon>
        </button>
        <span class="texto_icono">Estadisticas</span>
    </div>

    <button mat-icon-button>
        <mat-icon class="iconos_nav">favorite</mat-icon>
    </button>
</mat-toolbar>
