.contenedor_spinner{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 50%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.vista_login{
    position: fixed;
    width: 100%;
}
.imagen_inicio{
    width: 60%;
    margin: 20% 20% 8% 20%;
    height: auto;
    & img{
        width: 100%;
    }
}
.campo{
    width: 60%;
    margin: 3% 20%;

}
.contenedor_campo{
    width: 100%;
}

.contenedor_perfil{
    width: 60%;
    margin: 0 20% 6% 20%;
}

.grupo_perfil{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contendor_boton{
    width: 60%;
    margin: auto;
}

.boton{
    width: 100%;
    font-size: 4.5vw;
}

.separador{
    margin: 5% 20%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    & .linea{
        background-color: #3F51B5;
        height: 0.5px;
        width: 100%;
    }
}

.microsoft_login{
    border: 1px solid #8C8C8C;
    display: flex;
    width: 60%;
    height: 41px;
    margin: 5% 20%;
}

.microsoft_logo{
    margin: 10px 12px;
}

.texto_microsoft{
    margin: 10px 12px;
    & .texto{
        font-weight: 600;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #5E5E5E;
    }
}

